@page "/user/{Username}"
@using Fituska.Shared.Models.User
@inject HttpClient Http

@if (userModel is null)
{
    <h1>Loading...</h1>
}
else
{
    <h1>@userModel.FirstName @userModel.LastName <small>(@userModel.UserName)</small></h1>
    <p>Naposledy přihlášen: @userModel.LastLoginDate</p>
    <p>Datum registrace: @userModel.RegistrationDate</p>
    <p>E-mail: @userModel.Email</p>
    <p>Discord: @userModel.DiscordUsername</p>
}

@code
{
    [Parameter]
    public string Username { get; set; }

    UserDetailModel? userModel = null;

    protected override async Task OnInitializedAsync()
    {
        userModel = await Http.GetFromJsonAsync<UserDetailModel>(ApiEndpoints.UserGetUrl(Username));
        await base.OnInitializedAsync();
    }
}
