@using Fituska.Shared.Models.Answer
@using Fituska.Shared.Models.Comment
@using Fituska.Shared.Models.User
@using System.Drawing;
@inject HttpClient Http

<div class="card answer-box mb-3" style="background-color: rgba(@GetColor().R,@GetColor().G,@GetColor().B,@GetColor().A)">
     <div class="card-body">
        <div class="row">
            <div class="col">
                <h6 class="card-subtitle mb-2 text-muted">
                    <a href="user/@Answer.User.UserName">@Answer.User.UserName</a> (@Answer.CreationTime)
                </h6>
                <p class="card-text">
                    @Answer.Text
                </p>
                <ReplyBox OnSubmit="AddComment" />
            </div>
            <div class="col-3 col-sm-2 col-md-1">
                <Voting Votes="Answer.Votes" OnVoteChange=UpdateVote AnswerId=Answer.Id/>
            </div>
        </div>
    </div>
    @if (Answer.Comments is not null && Answer.Comments.Count > 0)
    {
        @foreach (var comment in Answer.Comments.OrderBy(c => c.CreationTime).Reverse())
        {
            <CommentBox Comment="@comment" />
        }
    }
</div>

@code
{
    [Parameter]
    public AnswerDetailModel Answer { get; set; }

    [CascadingParameter]
    protected Task<AuthenticationState> AuthenticationState { get; set; }

    async Task AddComment(string text)
    {
        var comment = new CommentNewModel {
            UserId = new Guid((await AuthenticationState).User.Claims.First(claim => claim.Type == ClaimTypes.NameIdentifier).Value),
            Text = text,
            AnswerId = Answer.Id
        };
        var response = await Http.PostAsJsonAsync<CommentNewModel>(ApiEndpoints.CommentUrl, comment);
        if (response.IsSuccessStatusCode)
        {       
            CommentDetailModel detailModel = await response.Content.ReadFromJsonAsync<CommentDetailModel>();
            Answer.Comments.Add(detailModel);
        }
    }

    protected override async Task OnInitializedAsync()
    {
        Answer = await Http.GetFromJsonAsync<AnswerDetailModel>(ApiEndpoints.AnswerIdUrl(Answer.Id));
        await base.OnInitializedAsync();

    }

    Color GetColor()
    {
        int votes = 0;
        if(Answer.Votes != null)
            votes = Answer.Votes.Sum(v => (int)v.Vote);
        return ColorTints.GetColorFromVotes(votes);
    }

    void UpdateVote()
    {

        GetColor();
    }
}
