@using Fituska.Shared.Models.Answer
@using Fituska.Shared.Models.Comment
@using Fituska.Shared.Models.User
@using System.Drawing;

<div class="card answer-box mb-3" style="background-color: rgba(@GetColor().R,@GetColor().G,@GetColor().B,@GetColor().A)">
    <div class="card-body">
        <div class="row">
            <div class="col">
                <h6 class="card-subtitle mb-2 text-muted">
                    <a href="user/@Answer.User.UserName">@Answer.User.UserName</a> (@Answer.CreationTime)
                </h6>
                <p class="card-text">
                    @Answer.Text
                </p>
                <ReplyBox OnSubmit="AddComment" />
            </div>
            <div class="col-3 col-sm-2 col-md-1">
                <Voting Votes="Answer.Votes" />
            </div>
        </div>
    </div>
    @if (Answer.Comments.Count > 0)
    {
        @foreach (var comment in Answer.Comments.OrderBy(c => c.CreationTime).Reverse())
        {
            <CommentBox Comment="@comment" />
        }
    }
</div>

@code
{
    [Parameter]
    public AnswerDetailModel Answer { get; set; }

    [CascadingParameter]
    protected Task<AuthenticationState> AuthenticationState { get; set; }

    //public Voting voting { get; set; }

    async Task AddComment(string text)
    {
        var user = new UserListModel { UserName = (await AuthenticationState).User.Identity.Name, Photo = null };
        var comment = new CommentDetailModel { User = user, Text = text, CreationTime = DateTime.Now };
        Answer.Comments.Add(comment);
    }

    Color GetColor()
    {
        int votes = Answer.Votes.Sum(v => (int)v.Vote);
        return ColorTints.GetColorFromVotes(votes);
    }
}
