@using Fituska.Shared.Models.File
@inject ILocalStorageService LocalStorageService
@inject HttpClient Http
@inject Base64ImageService Base64ImageService

<AuthorizeView>
    <Authorized>        
        <div class="btns-group">
            <button @onclick="ToggleUserBox" class="show-box-button">
                <img class="person-icon" src="@ProfilePictureProvider.ImageSource" />
                <span class="oi oi-caret-bottom" aria-hidden="true"></span>
            </button>
        </div>
        <div class="navmenu-user-box @BoxCssClass">
            <p>@context.User.Identity.Name</p>
            <div class="row">
                <div class="col">
                    <a href="/user/@context.User.Identity.Name" class="btn btn-primary" @onclick="ResetCollapse">Profil</a>
                </div>
                <div class="col">
                    <SignOutButton OnClick="ResetCollapse" />
                </div>
            </div>
        </div>
    </Authorized>
    <NotAuthorized>
        <div class="btns-group d-none d-sm-none d-md-block">
            <a class="btn btn-outline-secondary" href="/signin">
                <span class="oi oi-account-login" aria-hidden="true"></span> Přihlášení
            </a>
            <a class="btn btn-outline-secondary" href="/register">
                Registrace
            </a>
        </div>

        <div class="btns-group d-sm-block d-md-none">
            <button @onclick="ToggleUserBox" class="show-box-button">
                <span class="oi oi-caret-bottom" aria-hidden="true"></span>
            </button>
        </div>
        <div class="navmenu-user-box d-md-none @BoxCssClass">
            <p>@context.User.Identity.Name</p>
            <div class="row">
                <div class="col mobile-auth-buttons">
                    <a class="btn btn-outline-secondary" href="/signin" @onclick="ResetCollapse">
                        Přihlášení
                    </a>
                </div>
                <div class="col mobile-auth-buttons">
                    <a class="btn btn-outline-secondary" href="/register" @onclick="ResetCollapse">
                        Registrace
                    </a>
                </div>
            </div>
        </div>
    </NotAuthorized>
</AuthorizeView>

@code
{
    [CascadingParameter]
    protected Task<AuthenticationState> AuthenticationState { get; set; }

    [CascadingParameter]
    protected ProfilePictureProvider? ProfilePictureProvider { get; set; }

    bool collapseBox = true;

    string? BoxCssClass => collapseBox ? "collapse" : null;

    void ToggleUserBox() => collapseBox = !collapseBox;

    void ResetCollapse() => collapseBox = true;

    public void Refresh() => StateHasChanged();
}
